<h2>Thank you for registering on Palaver!</h2>

<p>
  In order to confirm you account, please click on the following link:
  <a href="<%= url %>">confirm account</a>.
</p>

<p>
  Regards,<br />
  Palaver Team
</p>
